[submodule "salas"]
	path = backend/salas
	url = https://github.com/pucrs-poli/constr-sw-2022-2-g1
[submodule "resources"]
	path = backend/resources
	url = https://github.com/pucrs-poli/constr-sw-2022-2-g2
[submodule "reservations"]
	path = backend/reservations
	url = https://github.com/pucrs-poli/constr-sw-2022-2-g3
[submodule "classes"]
	path = backend/classes
	url = https://github.com/pucrs-poli/constr-sw-2022-2-g5
[submodule "courses"]
	path = backend/courses
	url = https://github.com/pucrs-poli/constr-sw-2022-2-g6
[submodule "lessons"]
	path = backend/lessons
	url = https://github.com/pucrs-poli/constr-sw-2022-2-g7
